h1 {
    color: black;
    font-size: 30px;
    padding: 300px;
    border-bottom: 5px solid green;
    margin: 1px;
}
h2 {
    color: black;
    font-size: 15px;
    text-decoration: underline; 
} 
h3 {
    color: black;
    font-size: 15px;
}  


