h1 {
    color: black;
    font-size: 30px;
    padding: 30px;
    border-bottom: 5px solid green;
    margin: 10px;
}
h2 {
    color: black;
    font-size: 20px;
    text-decoration: underline; 
}   
