h1 {
    color: black;
    font-size: 30px;
    padding: 30px;
    border-bottom: 5px solid green;
    margin: 10px;
}
h2 {
    color: black;
    font-size: 15px;
    text-decoration: underline; 
} 
h3 {
    color: black;
    font-size: 15px;
}  
h4 {
    padding: 30px;
    border: 5px solid red;
    margin: 30px;
}
#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}
#container#left {
    width: 300px;
    float: left;
    background-color:pink;
}
#container#right {
    width:300px;
    float:right;
    background-color:green
}
