#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}
#container#left {
    width: 300px;
    float: left;
    background-color:pink;
}
#container#right {
    width:300px;
    float:right;
    background-color:green
}
h4 {
    padding: 30px;
    border: 5px solid red;
    margin: 30px;
}
